<!DOCTYPE html>
<html lang="ng">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/burger_style.css">
    <title>Burger Devourer</title>
    <script src="/assets/js/burgers.js"></script>
</head>
<body>
    {{{ body }}}
    <h1>received</h1>
</body>
</html>