<body>
    <header class="m-5 text-center">
        <h1>Burger Devourer!</h1>
    </header>
    <div class="container">
        <div>
            <img class="img" src="https://lh3.googleusercontent.com/proxy/QCmWye6ZEkjbd35u_zw6R1JPHMWEv51C0FKQCJAn_pj0HWpywni-XjqSOKWclbQFV0Ew5Oub-kt00pHcsE2y7i66YO2bBL3ViTSK" alt="uh oh">
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Available Burgers</h2>
                <ul class="list-group">
                    {{#each burgerData}}
                        {{#unless devoured}}
                            <li class="list-group-item">{{burger_name}}<button class="btn btn-primary ml-5">Devour</button></li>
                        {{/unless}}
                    {{/each}}
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Devoured Burgers</h2>
                <ul class="list-group">
                    {{#each burgerData}}
                        {{#if devoured}}
                            <li class="list-group-item">{{burger_name}}</li>
                        {{/if}}
                    {{/each}}
                    {{!-- <li class="list-group-item">Eaten Burger 1</li>
                    <li class="list-group-item">Eaten Burger 2</li> --}}
                </ul>
                
            </div>
            <section>
                <h2>Add a Burger</h2>
                <form id="new-burger-form">
                    <div class="form-group">
                        <label for="burger-name">Burger Name:</label>
                        <input type="text" id="burger-name" name="burger-name">

                    </div>

                    <div class="form-group">
                        <label for="devoured">Has it been devoured?</label><br>
                        <input type="radio" name="uneaten" value="1" checked id="uneaten"> Ready to eat!<br>
                        <input type="radio" name="uneaten" value="0" id="eaten"> Devoured!
                      </div>

                </form>
            </section>

        </div>
        <ul>
            <li></li>
        </ul>
    </div>
    <script src="/js/burgers.js"></script>
</body>